*{
    padding: 0;
    margin: 0;
}
body{
    background-color:black;
}
.mainImg{
    height:80vh;
    background-repeat: no-repeat;
    border: 1px solid white;
}
.head{
    text-align: center;
    color: white;
    font-size: 10vh;
    font-style: italic;
}
.bgimg{
    width: 98.8vw;
    height: 80vh;
}
.heading{
    position: relative;
    bottom: 53vh;
    font-size: 10vh;
    margin-left: 3vh;
    color: white;
    text-align: center;
}
#search{
    font-size: 3vh;
    align-items: center;
    outline: none;
    border-radius: 3vh;
    padding: 2vh;
    color: white;
    background-color: black;
    border: 2px solid white;
    
}
.search{
    display: flex;
    justify-content: center;
    margin: 7vh 0;
}
.list{
    color: white;
    font-size: 4vh;
    display: none;
}
.centerportion{
    display: flex;
    justify-content: space-evenly;
}
#Ingredients{
    cursor: pointer;
    height: 65vh;
    margin-bottom: 100px;
    text-align: center;
    font-size: 5vh;
    color: white;
}
#rImg ,#sImg{
    height: 40vh;
    border-radius: 7vh;
}
#name , #Sname{
    color: white;
    text-wrap: wrap;
}
#randomList ,#searchList{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    gap: 3vh;
    margin-top: 3vh;
}
#box,#searchBox {
   
    width: 20vw;
    text-align: center;
}
.subtitle{
    color: white;
    text-align: center;
    font-size: 8vh;
}
#ingredientimg{
    height: 60vh;
    border-radius: 7vh;
}
#heading2{
    font-size: 5vh;
}
#hidden{
    color: white;
 }
#searchbtn{
    width: 8vw;
    font-size: 3vh;
    border-radius: 7vh;
    color: white;
    background-color: black;
    border: 2px solid white;
}

@media screen and (max-width: 420px) {
    *{
        text-align: center;
    }
    .bgimg{
        width: 700px;
    }
    #randomList ,#searchList{
        flex-direction: column;
        justify-content: center;
    }
    .centerportion{
        flex-direction: column;
    }
    #name , #Sname{
        font-size: 5vh;
        text-align: center;
        margin-left: 2vh;
    }
    #searchBox{
        padding: 1vh;
        display: flex;
        align-items: center;
    }
    #sImg{
        display: flex;
        justify-content: space-around;
    }
    #rImg ,#sImg{
        font-size: 5vh;
    }
    #box{
        display: flex;
        align-items: center;
        padding: 1vh;
        width: auto;
        justify-content: space-around;
    }
    .heading{
        bottom: 60vh;
    }
    #searchbtn{
        width: auto;
        padding: 2vh;
    }
}
